html {
  background-color: rgb(230, 230, 230);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 150px 125px 250px 250px 80px;
  margin: auto;
}

section {
  color: #000000;
}

p {
  text-align: center;
  font-family: monospace;
}