#a {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;  
  background-color: #B8336A;
}

#a p {
  line-height: 75px;
}

#b {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  background-color: #C490D1;
}

#b p {
  line-height: 150px;
}

#cd {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

#c {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  background-color: #D17DA0;
}

#d {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  background-color: #DEA2BB;
}

#c, #d p {
  line-height: 125px;
}

#efgh {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

#e {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: #CACAEA;
}

#f {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #C9E7FD;
}

#g {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: #ABDAFC;
}

#h {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #ACACDE;
}

#e, #f, #g, #h p {
  line-height: 250px;
}

#i {
  grid-row: 7 / span 1;
  grid-column: 1 / span 2;
  background-color: #BE4577;
}

#i p {
  line-height: 80px;
}